.git
.gitignore
.gitattributes
.DS_Store
*.log
bin/
build/
.idea
*.iml
.vscode
.env
**/node_modules/
**/dist/
Dockerfile
.dockerignore
.gradle
package.json
package-lock.json
config/checkstyle/checkstyle.xml
.github
README.md
**/certs/private.pem
**/certs/*.key
**/*.keystore
**/*.jks
**/application-*.yml
**/application-*.properties