spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

cors:
  allowed-origins: "http://localhost:3000,https://java-project-99-8dn6.onrender.com"

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:taskmanager;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: ""
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  rsa:
    private-key: ${RSA_PRIVATE_KEY:}
    public-key: ${RSA_PUBLIC_KEY:}
    expiration: 86400000

sentry:
  dsn: ${SENTRY_DSN:}
  send-default-pii: true

---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: ""
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: create-drop
  rsa:
    private-key: ${RSA_PRIVATE_KEY:}
    public-key: ${RSA_PUBLIC_KEY:}
    expiration: 86400000

sentry:
  dsn: ${SENTRY_DSN:}
  send-default-pii: true

---
spring:
  config:
    activate:
      on-profile: production
  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
  rsa:
    private-key: ${RSA_PRIVATE_KEY:}
    public-key: ${RSA_PUBLIC_KEY:}
    expiration: 86400000

sentry:
  dsn: ${SENTRY_DSN:}
  send-default-pii: true